.form-div {
  margin-top: 30px;
  position: absolute;
  left: 50%;
  transform: translate(-50%);
  height: 250px;
  width: 300px;
  border: 3px solid white;
  border-radius: 3%;
}
.form-p {
  font-size: 200%;
  padding-left: 16%;
  color: white;
  margin-top: 6%;
}

.email-box,
.password-box {
  margin-top: 20px;
  border: 1px solid white;
  border-radius: 3%;
  display: inline-flex;
  background-color: #85144b;
  margin-left: 14%;
}
.icon {
  color: white;
  font-size: 180%;
  background-color: #85144b;
}
.email-box input,
.password-box input {
  padding: 0 5px;
  width: 190px;
}
.form-button {
  width: 220px;
  background-color: #4e0e2d;
  border: none;
  font-size: 170%;
  color: white;
  margin-top: 20px;
  margin-left: 14%;
  padding: 3px;
  border: 1px solid white;
  border-radius: 6px;
  cursor: pointer;
}
